__pycache__/
*.py[cod]
*.pkl
*.joblib
*.DS_Store
.env
.env.*
.venv/
venv/
.idea/
.vscode/
*.log
models/*
!models/.gitkeep
data/raw/*
data/clean/*
!data/raw/.gitkeep
!data/clean/.gitkeep
wandb/
node_modules/
frontend/node_modules/
dist/
frontend/dist/
notebooks/catboost_info/
